.App {
  text-align: center;
}

.Nav{
  
}
.navItems{
  display: grid;
  grid-template-columns: 7fr 1fr 1fr ;
  list-style: none;
  gap: 10px;
  align-items: center;
  padding: 0 16px;
}
a{
  text-decoration: none;
  
}
.logoDiv{
  justify-self: left;
}
.Logo{
  height: 50px;
}